{include file="common:web_header"}
<body>
	
<div>
	<!--header-->
	<header class="header_zi">
	  {include file="common:web_navigation"}
	</header>
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="/public/pc/images/banner_contact.png" alt=""></div>	   
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="index.html">首页 </a> > <span class="active">联系我们</span>
	</div>
		<div class="contact_con">
			<div class="top_tit">
				<span class="span1"><a href="contact.html">联系我们</a></span><br />
				<span class="con_span">您好，如您有珍岛的相关问题，可直接联系我们！</span>
			</div>
			<div class="nei clearfix">
				<div class="left">
					<a href="mailto:Eason.wang@71360.com"><img src="/public/pc/images/email.png" alt="" />Eason.wang@71360.com</a>
					<a href="tel:021-31265245"><img src="/public/pc/images/phone.png" alt="" />021-31265245</a>
					<a href="tel:189 1610 1908"><img src="/public/pc/images/shouji.png" alt="" />189 1610 1908</a>
					<span > <img src="/public/pc/images/weizhi.png" alt="" />上海市虹口区水电路682号 天虹商务大
厦6F、7F、11F</span>
				<a href="http://map.baidu.com/?newmap" target="_blank" class="ditu"><i class="fa fa-search"></i>查看地图</a>
				</div>
				<div class="right"></div>
			</div>
		</div>

	
	<div class="home_news">
		{include file="common:web_news"}
	</div>

	
 
    <!--footer  start-->
      <footer class="footer">
       <div class="footer_con">
       		{include file="common:web_footer"}
       </div>
       <div class="copy">Copyright(c) 2016  版权所有：上海珍岛茶业有限公司</div>
	</footer>
    <!--footer  end-->

	<!--移动端  Mmenu-->
	<nav id="mmenu">
		{include file="common:wap_footer"}
	</nav>	</div>	

<!--Include Js-->
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/public/pc/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/public/pc/js/public.js" type="text/javascript" charset="utf-8"></script>

<!--slick-->
<script src="/public/pc/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/pc/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/public/pc/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>

<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
