{include file="common:web_header"}
<body>
	
<div>
	<!--header-->
	<header class="header_zi">
	   {include file="common:web_navigation"}
	</header>
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="/public/pc/images/banner_liu.png" alt=""></div>	   
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="index.html">首页 </a> > <span class="active">留言中心</span>
	</div>
		<div class="feedback_con">
			<div class="top_tit">
				<span class="span1"><a href="feedback.html">留言中心</a></span><br />
				<span class="con_span">您好，对珍岛有任何疑问都可以给我们留言，我们会尽快回复！</span>
			</div>
			<ul class="liu_ul">
				<li class="clearfix">
					<p class="p1">
						<span><i>*</i>标题</span><input type="text" />
					</p>
					<p>
						<span><i>*</i>姓名</span><input type="text" />
					</p>
				</li>
				<li class="clearfix">
					<p class="p1"><span><i>*</i>电话</span><input type="text" /></p>
					<p>
						<span><i>*</i>邮箱</span><input type="text" />
					</p>
				</li>
				<li>
					
						<span class="span_nei"><i>*</i>内容</span>
						<textarea name="" rows="7" cols=""></textarea>
						
				</li>
				<li class="clearfix yan_li">
				 <span><i>*</i>验证码</span><input type="text" />
				 <img src="/public/pc/images/yan.png" alt="" />
					<a href="" class="yan_no">看不清,换一张?</a>
				</li>
				<li class="btn">
					<a href="">提交</a>
					&nbsp;
					<a href="">重置</a>
					
					
				</li>
			</ul>
				
		</div>

	
	<div class="home_news">
		{include file="common:web_news"}
	</div>

    <!--footer  start-->
       <footer class="footer">
       <div class="footer_con">
       		{include file="common:web_footer"}
       </div>
       <div class="copy">Copyright(c) 2016  版权所有：上海珍岛茶业有限公司</div>
	</footer>
    <!--footer  end-->

	<!--移动端  Mmenu-->
	<nav id="mmenu">
		{include file="common:wap_footer"}
	</nav>	</div>	

<!--Include Js-->
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/public/pc/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/public/pc/js/public.js" type="text/javascript" charset="utf-8"></script>

<!--slick-->
<script src="/public/pc/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/pc/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/public/pc/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>

<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
