{include file="common:web_header"}
<body>
	
	<div>
		<!--header-->
		<header class="header_zi">
			{include file="common:web_navigation"}
		</header>
		
		<!--banner  start-->
		<section class="banner_zi">
			<div><img src="/public/pc/images/banner_com.png" alt=""></div>
		</section>
		<!--banner end-->
		<div class="head_bar">
			<span>位置：</span><a href="index.html">首页 </a> > <span class="active">舒雅住宅</span>
		</div>
		<div class="comfor_con">
			<div class="top_tit">
				<span class="span1"><a href="comfortable.html">舒雅住宅</span></a><br />
				<span class="span2">COMFORTABLE RESIDENTIAL</span>
			</div>
			<div class="com_shi">
				<ul class="wow bounceIn">
					<span class="span1">《归园田居》其一    </span><br />
					<span class="span2">_____陶渊明</span>
					<li>/   少无适俗韵，性本爱丘山。误落尘网中，一去三十年。</li>
					<li>/   羁鸟恋旧林，池鱼思故渊。开荒南野际，守拙归园田。</li>
					<li>/   方宅十余亩，草屋八九间。榆柳荫后檐，桃李罗堂前。</li>
					<li>/   暧暧远人村，依依墟里烟。狗吠深巷中，鸡鸣桑树颠。</li>
					<li>/   户庭无尘杂，虚室有余闲。久在樊笼里，复得返自然。</li>
					<li>/   渭城朝雨浥轻尘，客舍青青柳色新。</li>
				</ul>
			</div>
			<div class="zx_fang">
				<span class="zx_span">中西结合套房</span>
				<div class="f_da wow bounceIn">
					<div><img src="/public/pc/images/fa_da1.jpg" alt="" /><i></i></div>
					<div><img src="/public/pc/images/fa_da2.jpg" alt="" /><i></i></div>
					<div><img src="/public/pc/images/fa_da3.jpg" alt="" /><i></i></div>
				</div>
				<div class="f_xiao">
					<div>
						<div class="pic">
							<img src="/public/pc/images/fa_xiao1.png" alt="" /><i></i>	
						</div>
						<a href="">中国风套房</a>
					</div>
					<div>
						<div class="pic">
							<img src="/public/pc/images/fa_xiao2.png" alt="" /><i></i>	
						</div>
						<a href="">中西结合套房</a>
						
					</div>
					<div>
						<div class="pic">
							<img src="/public/pc/images/fa_xiao3.png" alt="" /><i></i>	
						</div>
						<a href="">现代简洁套房</a>
					</div>
					<div>
						<div class="pic">
							<img src="/public/pc/images/fa_xiao1.png" alt="" /><i></i>	
						</div>
						<a href="">中国风套房</a>
					</div>
				</div>
			</div>
		</div>
		<div class="home_news">
			{include file="common:web_news"}
		</div>

		<!--footer  start-->
		<footer class="footer">
			<div class="footer_con">
				{include file="common:web_footer"}
			</div>
			<div class="copy">Copyright(c) 2016  版权所有：上海珍岛茶业有限公司</div>
		</footer>
		<!--footer  end-->

		<!--移动端  Mmenu-->
		<nav id="mmenu">
			{include file="common:wap_footer"}
		</nav>	</div>	

		<!--Include Js-->
		<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>

		<!--移动端导航-->
		<script src="/public/pc/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="/public/pc/js/public.js" type="text/javascript" charset="utf-8"></script>

		<!--slick-->
		<script src="/public/pc/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/pc/js/wow.js" type="text/javascript" charset="utf-8"></script>

		<!--placeholder-->
		<script src="/public/pc/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){ $('input, textarea').placeholder(); });
		</script>

		<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

	</body>
	</html>
