{include file="common:web_header"}
<body>
	
<div>
	<!--header-->
	<header class="header_zi">
	   {include file="common:web_navigation"}
	</header>
			
	<!--banner  start-->
	<section class="banner_zi">
	    <div><img src="/public/pc/images/banner_yuan.png" alt=""></div>	   
	</section>
	<!--banner end-->
	<div class="head_bar">
		<span>位置：</span><a href="index.html">首页 </a> > <span class="active">文苑之旅</span>
	</div>
		<div class="travel_con">
			<div class="top_qie">
				<a href="">茶艺中心</a>
				<a href="" class="active">万竹林海</a>
				<a href="" >创意中心</a>
				<a href="">花草园艺</a> 
			</div>
			<div class="tra_ul">
				<div class="top_a">
					<a href="" class="active">产品分类一</a>
					<a href="">产品分类二</a>
					<a href="">产品分类三</a>
					<a href="">产品分类四</a>
					<a href="">产品分类五</a>
				</div>
				<ul class="clearfix"> 
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_1.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(一)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_2.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(二)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_3.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(三)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_4.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(四)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_5.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(五)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_6.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(六)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_7.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(七)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_8.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(八)</a>
					</li>
					<li class="wow bounceIn">
						<a href="court_travel_show.html"><img src="/public/pc/images/home_9.png" alt="" class="vcenter" /><i></i></a>
						<a href="court_travel_show.html">万竹林海(九)</a>
					</li>
				</ul>
				<div class="page">
						<a href=""><i class="ye fa fa-backward"></i></a>
						<a href=""><i class="ye fa fa-caret-left"></i></a>
						<a href="" class="active">1</a>
						<a href="" class="">2</a>
						<a href="" class="">3</a>
						<span href="" class="">…</span> 
						<a href=""><i class="ye fa fa-caret-right"></i></a>
						<a href=""><i class="ye fa fa-forward"></i></a>
				</div>
			</div>
		</div>
		
	
	<div class="home_news">
		{include file="common:web_news"}
	</div>

    <!--footer  start-->
       <footer class="footer">
       <div class="footer_con">
       		{include file="common:web_footer"}
       </div>
       <div class="copy">Copyright(c) 2016  版权所有：上海珍岛茶业有限公司</div>
	</footer>
    <!--footer  end-->

	<!--移动端  Mmenu-->
	<nav id="mmenu">
	{include file="common:wap_footer"}
	</nav>	</div>	

<!--Include Js-->
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script src="/public/pc/js/jquery.mmenu.all.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/public/pc/js/public.js" type="text/javascript" charset="utf-8"></script>

<!--slick-->
<script src="/public/pc/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/pc/js/wow.js" type="text/javascript" charset="utf-8"></script>

<!--placeholder-->
<script src="/public/pc/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>

<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
