@charset "UTF-8";
/*.table{width:100%;table-layout:fixed;margin:5px 0;}
.table th{border:1px #d2d2d2 solid;height:40px;line-height:40px;}
.table td{border:1px #d2d2d2 solid;padding:10px 8px;position:relative;}
.table td p{margin:5px 0;line-height:1.3;}
.table td mark{color:red;line-height:1.3;}
.table tr:nth-child(odd){background:#f8f8f8;}
.table tr:hover{background:#f9f9f9;}
.table td a{color:#19a97b;margin:0 5px;cursor:pointer;}
.table td .full_link_td{display:block;width:100%;height:100%;border:none;outline:none;position:absolute;top:0;left:0;text-align:center;margin:0;font-size:20px;font-weight:bold;}
.table td .full_link_td:hover{background:#f4f4f4;color:#019163;}
.table td .inner_btn{background:#F9F;color:white;padding:5px 8px;border-radius:2px;}
.table td .inner_btn:hover{background:#ffa4ff;color:#f8f8f8;}
.table td .cut_title{width:265px;}
.table td .link_icon{font-size:24px;font-family:'adminthemesregular';color:#19a97b;}
.table td .link_icon:hover{color:#019163;}

.table1{width:100%;table-layout:fixed;margin:5px 0;}
.table1 th{height:40px;line-height:40px;}
.table1 td{padding:10px 8px;position:relative;border:1px #F4F4F4 solid;}
.table1 td p{margin:5px 0;line-height:1.3;}
.table1 td mark{color:red;line-height:1.3;}
.table1 td a{color:#19a97b;margin:0 5px;cursor:pointer;}
.table1 td .full_link_td{display:block;width:100%;height:100%;border:none;outline:none;position:absolute;top:0;left:0;text-align:center;margin:0;font-size:20px;font-weight:bold;}
.table1 td .full_link_td:hover{background:#f4f4f4;color:#019163;}
.table1 td .inner_btn{background:#F9F;color:white;padding:5px 8px;border-radius:2px;}
.table1 td .inner_btn:hover{background:#ffa4ff;color:#f8f8f8;}
.table1 td .cut_title{width:265px;}
.table1 td .link_icon{font-size:24px;font-family:'adminthemesregular';color:#19a97b;}
.table1 td .link_icon:hover{color:#019163;}




.table2{width:100%;table-layout:fixed;margin:5px 0;}
.table2 thead{border:1px #EFEFEF solid;height:px;line-height:24px; color:#333;background:#F4F4F4; font-weight:normal}
.table2 td{border:1px #F2F2F2 solid;padding:10px 8px;position:relative;}
.table2 td p{margin:5px 0;line-height:1.3;}
.table2 td mark{color:red;line-height:1.3;}
.table2 tr:hover{background:#F4F4F4;}
.table2 td a{color:#19a97b;margin:0 5px;cursor:pointer;}
.table2 td .full_link_td{display:block;width:100%;height:100%;border:none;outline:none;position:absolute;top:0;left:0;text-align:center;margin:0;font-size:20px;font-weight:bold;}
.table2 td .full_link_td:hover{background:#f4f4f4;color:#019163;}
.table2 td .inner_btn{background:#F9F;color:white;padding:5px 8px;border-radius:2px;}
.table2 td .inner_btn:hover{background:#ffa4ff;color:#f8f8f8;}
.table2 td .cut_title{width:265px;}
.table2 td .link_icon{font-size:24px;font-family:'adminthemesregular';color:#19a97b;}
.table2 td .link_icon:hover{color:#019163;}
*/





/*public:rtContent*/
.rt_wrap{margin-left:218px;margin-right:10px;height:100%;position:relative;}
.rt_content{margin-bottom:80px;margin-right:8px;overflow:hidden;}
.textWhite{color:white;}
.link_btn{border:1px #139667 solid;border-radius:2px;background:#19a97b;color:white;padding:8px 15px;display:inline-block;cursor:pointer;}
.link_btn:hover{background:#11a274;border:1px #0e8f61 solid;}
.link_btn:active{background:#0c9c6e;border:1px #0e8f61 solid;}

.textbox{border:1px #D2D6DE solid;height:24px;line-height:24px;padding:4px;font-size:12px; vertical-align:middle; width:80%}
.textbox_295{width:295px;}
.textbox_225{width:225px;}

.select{padding:0 5px;height:34px;font-size:12px;border:1px #D2D6DE solid;vertical-align:middle; appearance: button;-webkit-appearance:button;}
.group_btn{border:1px #139667 solid;background:#19a97b;color:white;padding:0 15px;height:38px;cursor:pointer;display:inline-block;vertical-align:middle;}
.group_btn:hover{background:#11a274;border:1px #0e8f61 solid;}
.group_btn:active{background:#0c9c6e;border:1px #0e8f61 solid;}
.page_title{height:40px;line-height:40px;border-bottom:1px #DDDDDD solid;margin:10px 0; font-size:18px; background-color:#F5F5F5;border-radius:5px 5px 0px 0px;}
.page_title i{ padding:0px 10px}
.page_title .top_rt_btn{display:inline-block;height:30px;line-height:30px;padding:0 15px;border:1px #d2d2d2 solid;background:#f8f8f8;color:#19a97b; vertical-align:middle;cursor:pointer;}

.searchtextbox{border:1px #D2D6DE solid;height:24px;line-height:24px;padding:4px;font-size:12px; vertical-align:middle;}
.searchgroup_btn{border:1px #139667 solid;background:#19a97b;color:white;padding:0 15px;height:32px;cursor:pointer;display:inline-block;vertical-align:middle;border-radius:2px;}
.searchgroup_btn:hover{background:#11a274;border:1px #0e8f61 solid;}
.searchgroup_btn:active{background:#0c9c6e;border:1px #0e8f61 solid;}


.paging{margin:8px 0;overflow:hidden;text-align:right;}
.paging a{background:#FAFAFA;border:1px #DDDDDD solid;color:#666666; padding:10px; text-align:center;display:inline-block;cursor:pointer;}
.paging a:hover{background:#EEEEEE;border:1px #DDDDDD solid; color:#23527C}
.paging .current{ background-color:#337AB7; color:#FFFFFF;padding:10px;}

.single_selection{color:#333;padding:6px 8px;display:inline-block;vertical-align:middle;}
.single_selection input{margin-right:3px;vertical-align:middle;}
.errorTips{color:red;margin:0 8px;}
.errorTips:before{content:"x";font-family:'adminthemesregular';margin-right:3px;font-size:16px;}
.textarea{display:inline-block;margin-top:5px;outline:none;resize:none;border:1px #139667 solid;padding:8px;}
.uploadImg{display:inline-block;padding:15px;background:#f8f8f8;position:relative;border:1px #139667 solid;}
.uploadImg input{display:none;}
.uploadImg span{display:block;font-size:12px;text-align:center;color:#139667;}
.uploadImg span:hover{color:#209f71;}
.uploadImg span:before{content:"#";font-family:'adminthemesregular';display:block;font-size:40px;}
.ulColumn2{overflow:hidden;}
.ulColumn2 li{margin:15px 0;}
.ulColumn2 li .item_name{text-align:right;display:inline-block;}
/*TAB*/
.web_tab{background:#f8f8f8;overflow:hidden;border:1px #d2d2d2 solid;margin-bottom:8px;}
.web_tab li{float:left;height:40px;line-height:40px;border-right:1px #f2f2f2 solid;}
.web_tab li:last-child{border:none;}
.web_tab li a{display:block;padding:0 20px;color:grey;font-size:12px;cursor:pointer;}
.web_tab li a.active{background:white;font-weight:bold;border-top:1px #19a97b solid;color:#19a97b;}
.web_tab_cont{display:none;margin:5px 0;overflow:hidden;}
.cont_col_lt{width:300px;overflow:hidden;float:left;}
.cont_col_rt{margin-left:315px;overflow:hidden;}















/*header*/
header{background:#19a97b;overflow:hidden;}
header h1{margin:0;float:left;margin-left:1%;}
header h1 img{width:auto;max-width:300px;height:70px;}
header .lt_nav{float:left;overflow:hidden;margin-right:3%;margin-top:10px;}
	header .lt_nav li{float:left;padding:0 25px;text-align:center;border-right:1px #139667 solid;}
	header .lt_nav li:last-child{border:none;}
	header .lt_nav li a{color:white;font-size:12px;text-shadow:0 0 1px #20af83;display:block;}
	header .lt_nav li i{display:block; font-size:28px;}

header .rt_nav{float:right;overflow:hidden;margin-right:3%;margin-top:10px;}
	header .rt_nav li{float:left;padding:0 25px;text-align:center;border-right:1px #139667 solid;}
	header .rt_nav li:last-child{border:none;}
	header .rt_nav li a{color:white;font-size:12px;text-shadow:0 0 1px #20af83;display:block;}
	header .rt_nav li i{display:block; font-size:28px;}
	header li i{ padding-bottom:8px;}



/*aside nav*/
.lt_aside_nav{width:210px;height:100%;position:absolute;top:70px;left:0;background:#fcfcfc;}
.lt_aside_nav h2{text-align:center;border-bottom:1px #b6b6b6 solid;margin:0;height:45px;line-height:45px;background:#efefef;}
.lt_aside_nav h2 a{display:block;color:#333333;font-size:14px;text-shadow:0 0 2px white;}
.lt_aside_nav ul{margin-bottom:75px;}
.lt_aside_nav dl{margin:0;}
.lt_aside_nav dl dt{font-weight:bold;height:45px;line-height:45px;border-bottom:1px #e9e9e9 solid;padding:0 15px;position:relative;}
.lt_aside_nav dl dt:before{position:absolute;width:5px;height:25px;background:#67c1a5;content:"";top:10px;left:0;}
.lt_aside_nav dl dd{margin:0;height:40px;line-height:40px;border-bottom:1px #e9e9e9 dotted;}
.lt_aside_nav dl dd a{display:block;color:#555555;padding:0 15px;}
.lt_aside_nav dl dd a:hover{background:#f8f8f8;text-shadow:0 1px 5px #f4f4f4;color:#19a97b;}
.lt_aside_nav dl dd .active{background:#f8f8f8;color:#19a97b;}
.lt_aside_nav dl dd .active:after{content:">";font-family:'adminthemesregular';position:absolute;right:3%;color:#19a97b;}
.lt_aside_nav .btm_infor{height:35px;line-height:35px;width:100%;background:#efefef;border-top:1px #b6b6b6 solid;text-align:center;color:#aaa;}













/*other public*/
.iconfont{font-family:'adminthemesregular';}
.add_icon:before{content:"a";margin:0 5px;font-family:'adminthemesregular';}
.money_icon:before{content:"$";margin:0 5px;font-family:'adminthemesregular';font-size:20px;}
.rmb_icon{color:#19a97b;}
.rmb_icon:before{content:"￥";margin-right:2px;}
.ellipsis{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.fl{float:left;}
.fr{float:right;}
.mtb{margin:5px 0;overflow:hidden; background-color:#F8F8F8; padding:10px; border:1px solid #E7E7E7;border-radius:4px; margin-bottom:20px}
.mlr{margin:0 5px;overflow:hidden;}
.mtb2{margin:5px 0;overflow:hidden;  padding:20px 10px;}



.icon_color1{ background-color:#00C0EF; padding:4px 8px;border-radius:3px;}
.icon_color2{ background-color:#00A65A; padding:4px 8px;border-radius:3px;}
.icon_color3{ background-color:#F39C12; padding:4px 8px;border-radius:3px;}
.icon_color4{ background-color:#DD4B39; padding:4px 8px;border-radius:3px;}
.icon_color1 i{color:#FFFFFF}
.icon_color2 i{color:#FFFFFF}
.icon_color3 i{color:#FFFFFF}
.icon_color4 i{color:#FFFFFF}

.icon_addcolor{ background-color:#3C8DBC; padding:8px;border-radius:3px;border:#367FA9 1px solid; color:#FFFFFF}.icon_addcolor i{ color:#FFFFFF; padding-right:5px}
.icon_back{ background-color:#3C8DBC; border-radius:3px; border:#DDDDDD 1px solid;}.icon_back i{ color:#ffffff}