<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	<title>印象未来网站管理系统</title>
	<link rel="stylesheet" href="/public/manage/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/manage/css/bootstrap.css">
	<link rel="stylesheet" href="/public/manage/css/xenon-core.css">
	<script src="/public/common/js/jquery.min.js"></script>
	<script src="/public/manage/js/catetree.js"></script>
	<script src="/public/manage/js/system.js"></script>
    <script src="/public/layer/layer.js"></script>
</head>
<body class="page-body">

<div class="page-container">
		{include file='Common/web_menu' }
		
		<div class="main-content">

			{include file='Common/web_header' }
			<!-- Responsive Table -->
			<div class="row">
				<div class="col-md-12">
				
					<div class="panel ">
						<div class="panel-heading">
							<h3 class="panel-title">权限列表</h3>
							<button class="btn btn-info btn-icon btn-icon-standalone pull-right" onClick="location.href='{:url('Managers/privilegeAdd')}'">
                            	<i class="fa-plus"></i><span>添加权限</span>
                            </button>
						</div>
						<div class="panel-body">
            
                <table width="100%" class="table table-bordered table-striped dataTable" id="list-table" role="grid" aria-describedby="example1_info">     
                    <thead>
                      <tr>
                        <th width="30" height="23" class="tc"><input class="allChoose"  id='check' name="" type="checkbox"></th>
                          <th width="60">ID</th>
                          <th>权限名称</th>
						  <th width="100">模块名称</th>
                          <th width="120">控制器名称</th>
                          <th width="100">方法名称</th>
                          <th width="160">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {volist name="privileges" id="vo"}
                      <tr>
                        <td class="tc"><input class='check' name="ids[]" value="<{$vo.id}>" type="checkbox"></td>
                        <td>{$vo.id}</td>
                        <td>
                            {if condition="$vo['level'] neq 0"}|{/if}
                            <?php echo str_repeat('-',$vo['level']*8);?><a target="_blank" href="#">{$vo.pri_name}</a></td>
                        <td>{$vo.mname}</td>
                        <td>{$vo.cname}</td>
                        <td>{$vo.aname}</td>
                        <td>
                            <a onClick="delfuncs(this)" data-url="{:url('Managers/privilegedel')}" data-id="{$vo.id}" class="btn btn-danger btn-sm btn-icon pull-right">删除</a>
          					<a href="{:url('Managers/privilegeedit', ['id' => $vo['id']])}" class="btn btn-success btn-sm btn-icon pull-right">修改</a>
                        </td>
                      </tr>
                    {/volist}
                   </tbody>
                </table>
					  </div>
					
					</div>
				</div>
			</div>
            
    {include file='Common/web_footer' }
            
</div>		
</div>
</body>
</html>            